<p id="notice"><%= notice %></p>

<h1>Coffee Tables for <%= @coffee_tables.first.coffee_shop.name %></h1>

<table>
  <tbody>
    <% @coffee_tables.each do |coffee_table| %>
      <tr>
        <td><%= @coffee_tables.first.coffee_shop.name %> table no.<%= coffee_table.table_number %></td>
        <td><%= image_tag(coffee_table.qr_code, :alt => "qr") %></td>
        <br>
      </tr>
    <% end %>
  </tbody>
</table>
